
@media (max-width: 320px) {

body {
font-size: 24px;
font-family: serif;

}
    
p {
margin: auto;
    
}
    
nav {
width: auto;

}
  
li {
float: none;
    
}
    
li a {
padding:inherit;
    
}
    
#top {
height: 100px;

}
    
.image2 {
width: 600px;
height: auto;
margin-left: 100px;

}

.image3 {
width: 600px;
height: auto;
margin-left: 100px;
    
}

.image4 {
width: 600px;
height: auto;
margin-left: 100px;
    
}   
    
} 