/* print stylesheet */

* {
color: black;
background: transparent;
font-size: 12pt;
font-family: serif;
    
}

h1 {
font-size: 20pt;
    
}

h2 {
font-size: 18pt;

}

@page {
margin: 1in;
    
}

a {
text-decoration: none;
    
}

nav {
display: none;
    
}

img {
display: none;
    
}


footer {
font-size: 12px;
text-align: center;
display: none;

}
