@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

body {
font-size: 12px;
font-family: serif;
color: black;
background-color: black;
    
}

p {
font-size: 14px;
font-family: serif;
color: black;
margin: auto;

}
    

h1 {
font-size: 80px;
font-family: "Sacramento", cursive;
color: black;
text-align: center;
margin: auto;
    
}

h2 {
font-size: 10px;
font-family: "Sacramento", sans-serif;
color: black;

}

h3 {
font-size: 16px;
font-family: serif;
color: darkblue;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;


nav ul li {
font-size: 20px;
color: white;
height: auto;
font-family: "Sacramento",sans-serif;
   
}


li {
    float: left;
}

ul li {
display: block;
text-align: right;


li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 12px 14px;
}


footer {
font-size: 9px;
font-family: sans-serif;
text-align: center;
text-transform: capitalize;

}

#top {
background-image: url("../img/yo.jpg");
margin: 0 auto;
text-align: center;

}


#section {
width: auto;
float: left;
background-color: white;

}

#footer {
width: 1000;
background: black;
margin: auto;
text-align: center;
color: white;

}


img {
margin: auto;
align-content: center;

}

