@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

body {
font-size: 12px;
font-family: serif;
color: black;
background-color: black;
    
}

p {
font-size: 14px;
font-family: serif;
color: black;
margin: auto;

}
    

h1 {
font-size: 80px;
font-family: "Sacramento", cursive;
color: black;
text-align: center;
margin: auto;
    
}

h2 {
font-size: 20px;
font-family: "Sacramento", sans-serif;
color: black;

}

h3 {
font-size: 16px;
font-family: serif;
color: darkblue;

    
}


footer {
font-size: 9px;
font-family: sans-serif;
text-align: center;
text-transform: capitalize;

}

#top {
background-image: url("../img/yo.jpg");
height: 600px;
width: 1000px;
margin: 0 auto;
text-align: center;
padding: 5px;
    
}


#section {
width: auto;
float: inherit;
background-color: white;

}

#footer {
width: 1000;
background: black;
margin: auto;
text-align: center;
color: white;

}

#nav {
display: inline;
text-decoration: none;
margin 0;
padding 0;
font-size: 30px;
font-family: "Sacramento";

}
    
li {

float: left;

}

li a {
    
display: inline-block;
    
}


img {
margin: auto;
align-content: center;

}

