@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Oranienbaum);

body {
font-size: 12px;
font-family: serif;
color: black;
background-image: url("../img/swirl_pattern.png");
    
}

p {
font-size: 14px;
font-family: serif;
color: white;

}

a {
color: white;
    
}

h1 {
font-size: 60px;
font-family: "Julius Sans One", sans-serif;
color: white;
text-align: center;

}

h2 {
font-size: 20px;
font-family: "Oranienbaum", sans-serif;
color: black;
padding: 5px 5px;

}

h3 {
font-size: 16px;
font-family: serif;
color: darkblue;

    
}

address {
text-align: center;
padding-bottom: 5px;
font-family: serif;

}


nav ul li {
font-size: 20px;
padding: 5px 5px;
margin-left: 20px;
color: white;
display: inline;
   
}

ul li {
padding: 5px;

}


footer {
font-size: 9px;
font-family: sans-serif;
text-align: center;
text-transform: capitalize;

}

#top {
background: black;
width: 1000;
margin: 0 auto;
text-align: center;
padding: 5px;
    
}

#nav {
background:salmon; 
height: 500;
width: auto;
float: left;
padding: 5;

}

#section {
width: 1000;
float: left;
background-color: white;

}



img {
margin: auto;
align-content: center;
    
}